// Primary Colors
$primary-color-light: #fc4441;
$primary-color: #eb443f;
$primary-color-dark: #ce3330;

/* $primary-color-light: #c52626;
$primary-color: #af2222;
$primary-color-dark: #9b1f1f; */


/* $primary-color-light: #BE3737;
$primary-color: #993A3A;
$primary-color-dark: #570C0C; */

// Secondary Colors
$secendary-color-light: #38373d;
$secendary-color: #212024;
$secendary-color-dark: #100f11;
// Signal Colors
$error-color: #f00;
$warning-color: #ff0;
$success-color: #008000;
// Contrast Colors
$dark-color: #000;
$light-color: #fff;
$light-color-gradiation: #b1b1b1;
$dark-grey-color: #333;
// Background
$navbar-background-color: repeating-linear-gradient(to bottom, $primary-color-dark 3%, $primary-color 97%);
$gradient-background-color: repeating-linear-gradient(to bottom, $primary-color-dark 0%, $primary-color 100%);
$footer-background-color: repeating-linear-gradient(to bottom, $primary-color 0%, $primary-color-dark 100%);
$background-color: #9cceff;
$background-color: repeating-linear-gradient(to bottom right, #dab3b3 0%, #fdd2d2 100%);
$dark-gradient-color: repeating-linear-gradient(to bottom, #313131 0%, #444444 100%);
$section-background-color: rgba(0, 0, 0, 0.05);