/* $secendary-color-light: #5b8094;
$secendary-color: #3d5765;
$secendary-color-dark: #344954; */
.widthFitContent, .glossaryItem {
  width: fit-content !important;
}

.displayFlex {
  display: flex !important;
}

.paddingInitial {
  padding: initial !important;
}

.marginBottomMedium {
  margin-bottom: 100px !important;
}

/* $secendary-color-light: #5b8094;
$secendary-color: #3d5765;
$secendary-color-dark: #344954; */
.transitionDurationShort {
  transition-duration: 200ms;
}

.transitionDurationMedium, .programmingItem, .programmingItem:hover, .glossaryItem, .glossaryItem:hover, .contactImage figure img, .contactImage figure img:hover, .SocialIconItem, .SocialIconItem:hover {
  transition-duration: 500ms;
}

.transitionDurationLong {
  transition-duration: 1500ms;
}

.transitionPropertyAll, .transitionAllEase, .programmingItem, .glossaryItem, .contactImage figure img, .SocialIconItem, .transitionSecondaryColorDark, .programmingItem:hover, .glossaryItem:hover, .SocialIconItem:hover, .transitionPrimaryLight {
  transition-property: all;
}

.transitionTimingFunctionEase, .transitionAllEase, .programmingItem, .glossaryItem, .contactImage figure img, .SocialIconItem, .transitionScale, .contactImage figure img:hover, .transitionSecondaryColorDark, .programmingItem:hover, .glossaryItem:hover, .SocialIconItem:hover {
  transition-timing-function: ease;
}

.transitionScale, .contactImage figure img:hover {
  transform: scale(1.1);
  transition-property: transform;
}

.transitionSecondaryColorDark, .programmingItem:hover, .glossaryItem:hover, .SocialIconItem:hover {
  background-color: #570C0C !important;
  color: #fff !important;
}

.transitionPrimaryLight {
  background-color: #47a4d2;
  color: #000;
  transition-timing-function: ease-in;
}

body {
  position: relative;
  color: #333;
  font-family: medium-ui-sans-serif-text-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
}

::selection {
  background: #006db3;
}

.navbar-fixed-space {
  height: 72px;
}

::-moz-selection {
  background: #006db3;
}

section:nth-of-type(2n) {
  background-color: rgba(0, 0, 0, 0.05);
}

a {
  color: #333;
}

a.anchor {
  display: block;
  position: relative;
  top: -65px;
  visibility: hidden;
}

.button, .button-success, .button-error {
  border-width: 4px;
  border-style: solid;
  border-radius: 20px;
  border-color: #fff;
}

.button-success {
  background: #008000;
  color: #fff;
}

.button-error {
  background: #f00;
  color: #000;
}

.button-error:hover {
  background: pink;
}

.test {
  background: blue;
  padding: 50px;
  border-style: solid;
  color: wheat;
  border-color: red;
}

.uppercase {
  text-transform: uppercase;
}

.initialcase {
  text-transform: initial;
}

.background {
  background-color: repeating-linear-gradient(to bottom right, #d0e5fb 0%, #708a9c 100%);
  background-image: repeating-linear-gradient(to bottom right, #d0e5fb 0%, #708a9c 100%);
}

.title-and-subtitle {
  height: 50px;
}

.title-and-subtitle h2 {
  color: #006db3;
}

.title-and-subtitle span {
  color: #47a4d2;
}

/*.list-group-style-type-none {
    list-style-type: none;
}*/
.list-group-item-background-none {
  background: transparent;
  border: none;
}

/*.list-group-row-margin li {
    position: relative;
}

.list-group-row-margin li div {
    position: absolute;
    left: 0;
}*/
.glossaryItem {
  margin-right: 20px;
  float: left;
  padding: 5px 30px 5px 30px !important;
  margin-bottom: 15px;
  font-size: large;
}

.glossaryItem:hover {
  /* background-color: $secendary-color-dark !important;
    color: $light-color !important;
    transition-property: all;
    transition-timing-function: ease;
    transition-duration: 1s; */
}

/* .glossaryItem:first-of-type {
    @extend .widthFitContent;
    height: fit-content !important;
    margin-left: 0px;
    margin-right: 20px;
}

.glossaryItem:last-of-type {
    @extend .widthFitContent;
    height: fit-content !important;
    margin-left: 0px;
    margin-right: 20px;
} */
.glossaryContainer {
  display: inline-block;
  list-style-type: none;
  list-style-position: inside;
  padding-left: initial;
  margin-bottom: 0px;
}

.contactImage {
  border: 2px solid #039be5;
  padding: 70px 30px 30px 30px;
  float: left;
  width: 100%;
  position: relative;
}

.contactImage figure {
  position: absolute;
  margin-top: -60px;
  top: 0;
  left: 50%;
  margin-left: -60px;
  display: block;
  margin-bottom: 50px;
}

.contactImage figure img {
  width: 120px;
  border: 2px solid #039be5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.contactImage h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.contactImage .contactName {
  color: #006db3;
  display: block;
  margin-bottom: 0px;
}

.contactSocial {
  padding: 0;
  margin: 0;
  display: inline-block;
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.contactSocial li {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.contactSocial li a {
  font-size: 16px;
  display: table;
  width: 40px;
  height: 40px;
  margin: 0 4px;
  text-decoration: none;
}

/* .contactSocial li a:hover() {
    animation: name duration timing-function delay iteration-count direction fill-mode;
} */
.contactSocial li a i {
  display: table-cell;
  vertical-align: middle;
  font-size: larger;
}

.contactSocial.contactSocialHighlight a {
  background: #039be5;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

[class^="fa-"],
[class*=" fa-"] {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer {
  height: 40px;
  margin-top: 50px;
  background-image: repeating-linear-gradient(to bottom, #039be5 0%, #006db3 100%);
}

/* footer {
    width:100%;
    background-color:#CCC;
    min-height:100px;    
  } */
footer .column {
  width: 100%;
  float: left;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
}
