.transitionDurationShort {
  transition-duration: 200ms;
}

.transitionDurationMedium {
  transition-duration: 500ms;
}

.transitionDurationLong {
  transition-duration: 1500ms;
}

.transitionPropertyAll, .transitionAllEase, .transitionSecondaryColorDark, .transitionPrimaryLight {
  transition-property: all;
}

.transitionTimingFunctionEase, .transitionAllEase, .transitionScale, .transitionSecondaryColorDark {
  transition-timing-function: ease;
}

.transitionScale {
  transform: scale(1.1);
  transition-property: transform;
}

.transitionSecondaryColorDark {
  background-color: #344954 !important;
  color: #fff !important;
}

.transitionPrimaryLight {
  background-color: #47a4d2;
  color: #000;
  transition-timing-function: ease-in;
}
